
/* 375px = 143% */

/*Reset all inherited values to 0.*/
*{box-sizing: border-box; margin:0;padding:0;}

body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'Commissioner', sans-serif;
    font-family: 'Karla', sans-serif;
    margin:0px;
    margin-bottom:0px;
    background-color: rgb(250, 250, 250);
  }

  #mainContent{
    /* margin:0px; */
    /* background-color: rgb(250, 250, 250); */
    display:flex;
    align-items: center;
    justify-content:center; 
    flex-direction: column;
  }

/*Width in pixels..*/
  #resizeInnerW{/*disable after finished..*/
    display:inherit; /* none\inherit */
    position: fixed;
    top:0; 
    z-index: 2; 
    color: rgb(239, 6, 6);
  }
  
  
  #imgBckgrndMob{
    /* margin-top: 76.4vh; */
    top:0;
    position: fixed; /*relative to mobNavB*/
    z-index:-2; 
    /* width:375px; */
      /* min-width:379px; */
    max-width:100%;
    /* height:100%; */
  background-image: url("./images/image-hero-mobile.jpg");}


/* NavBar including the image -:START */
#mobNavB{ /*includes .imgBckgrndMob, .mobNavB h1,.icon-hamburger */
  display:flex;  
  justify-content:center;  
  align-items: center; 
  position: relative;
  /* z-index:-1; */
  /* min-width:379px; */
  min-width:100%;
  margin:0;}
      
      #mobNavB h1{ /* "crowdfund" Header..*/
        font-family: 'Commissioner';
        position: absolute;
        max-width:100%;
        top:7px; 
        left:23.0px;
        font-size: 26px;
        /* transform: scale(1, 1.0);   */
        /*adjust font further (width, height)*/
        /* letter-spacing: -1.09px;    */
        color: white;
      z-index: 4;
      }
      
      #icon-hamburger{
        position: absolute;
        top:15px; 
        left:89.9%;
        width: 4%;
        /* background-color: rgba(0, 41, 222, 0.089); */
      }
      #icon-hamburger{/* As we have an hamburger icon lets hide it for now so we can have a nice effect for the menu styling the span elements. :) */
        display: none;
        opacity: 100%; 
        background-color: red;
      }
      /* NavBar including the image -:END */

     /*Lets use just html and css for the menu.. https://medium.com/@mateus2050/hamburguer-menu-html-and-css-only-c06364fa9bfd*/

 
#menu{
  display:flex;  
  flex-direction:column;
  justify-content:center;  
  align-items:start; 
  position:absolute;
  list-style-type:none; /*get rid of those bullet points..*/

  margin-top: 86px; 
  margin-left: -81.5vw;
  width: 84vw; 
  max-width: 89vw;
  height: 180px;
  margin-bottom: 100px;
  border-radius: 8px;
  z-index: 2;
  background-color: white;

  /*Hide the menu when unchecked!!*/
  transform: scale(0.0) translate(-100%, -100%);
  
 
}

      #menu a{
        display:flex;  
        flex-direction:column;
        justify-content:center;  
        align-items: center; 
        height: 35vh;
        margin-Bottom: 10px;
        margin-top: 10px;
        margin-left: 20px;
        font-size: 80%;
        text-decoration: none;
        color: black;
      }

      .hr{
        background-color: rgb(20, 13, 13);
        height: 0.1px;
        width: 100%;
        /* border:solid 1px black; */
              /* padding-top: 0.08px; */
              color: black;
        border-top: 0.001vh solid rgb(255, 255, 255);
      }

      #menu a:hover {
        text-decoration: underline;
      
      }


  #menuToggle input:checked ~#menu{ /*Show the menu when checked!!*/
    /* transform: translateX(-150px);
    transition: transform 0.3s ease;    */
  
    transform: scale(1.1) translate(0%, 0%);
    transition: transform 0.2s ease;
   
  }
 


  #menuToggle {
    position: absolute;
    display: flex;
    flex-direction:column;
    margin-top: 46.0px;
    margin-left: 84vw;
    opacity: 1;
    z-index: 3;
    
    /* border: solid lightgreen 1px; */
  }
    #menuToggle input {
      margin-top: -9%;
      margin-left: 11%;
      position: absolute;
      cursor:pointer;
      opacity: 0; /*hide the checkbox..*/
      
      /* color: yellow;
      border:yellow solid 2px ; */
      z-index: 3; /* in order to place the checkbox over the hamburger */
      -webkit-touch-callout: none;
    }
       #checkB{/*resize check box*/
         /* margin:0;
         padding:0; */
         top:2px;/* 5px */
         /* height:27%; */
         height:100%;/* 2vh 7vh */
         width:100%;/* 4vw */
    }
   
    #menuToggle span {/*For the span elements!!*/
      display: block; /* to ensure that each span element occupies its own line. */
      top:0.35vh;
      /* margin-left: 80%; */
      width: 19px; /*16px Resizing causes the cross to skew!*/
      height: 4px; /*Resizing causes the cross to skew!*/
      /* margin-top: 1vh; */
      /* margin-top: 16%; */
      margin-bottom:10%; /* create some spacing between the span elements. */
      position: relative; /* allow for positioning changes in relation to the parent div.*/
      background:white;
      border-radius: 2px;
      z-index: 2; /* ensure that the span element is under the checkbox */
    }
    #menuToggle input:checked{/*----------------------------*/
      /* height:27%; */
      height:100%;/* 2vh 7vh */
      width:100%;/* 4vw */
    }

    /*lets transform the burger to a close button..*/
    #menuToggle span:first-child {
      transform-origin: 0% 0%; /*sets the origin of the transform property to the top left corner of the element.*/
    }
    #menuToggle span:nth-last-child(2) {
      transform-origin: 0% 100%; /*sets the origin of the transform property to the bottom left corner of the element.*/
    }
    #menuToggle input:checked ~ span {/* selects all span elements that come after an input element that is checked inside the #menuToggle element. */
      transform: rotate(45deg) translate(0px, 0px);
      background: #cdcdcd;
      transition: transform 0.2s ease;
    }
    #menuToggle input:checked ~ span:nth-last-child(3) {
      transform: rotate(-45deg) translate(0px, 0px);
      margin-bottom: -10px;
      transition: transform 0.2s ease;
    }
    #menuToggle input:checked ~ span:nth-last-child(2) { /* selects the third span element from the end that comes after an input element that is checked inside the #menuToggle element. */
      opacity: 0; /* sets the opacity of the element to 0, making it invisible. */
      transform: rotate(0deg) scale(0.2, 0.2); /* applies a rotation of 0 degrees and a scale of 0.2 to the element, making it very small and invisible.*/
    }

    /*Lets darken the rest of the screen once checked.*/
    #menuToggle input:checked ~ .page-mask {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0,0,0,0.3);
    min-height: 2950px;/*make the mask the full length of the page otherwise there is tearing on the bottom of the page when scrolling..*/
    z-index: 0;
  }
  
 

  
  



/* boxContainer contains ALL boxes and overlaps navbar -:Start */
#boxContainer{
    position:relative;  /*relative to id mobNavB*/
    z-index: 0;
    top:245px; /*Overlap NavBar.. 140px */
    display:flex;
    flex-direction: column;
    align-items: center;
    max-width: 330px; /*375*/
    padding: 0;
    max-height:2850px;
    border-radius: 20px;}
  /* #boxContainerP {
    display: none;} */

      #box1{
        display:flex;
        flex-direction: column;
        position:relative;
        border:rgb(243, 243, 243) solid 1px;
        width:100%;
        height: 284px;
        border-radius: 6px;
        background-color: white;}
        #logo-mastercraft{
                  position:absolute;
                  margin-top:-27.0px;
                  margin-left:41.5%;
                  width:17.0%;
                }

        #box1H3a{ /*Mastercraft Bamboo Monitor Riser*/
          margin-top: 51.9px;
          font-family: 'Commissioner';
          font-weight: bolder;
          font-size: 19px;
          display:flex;          
          justify-content:center;
          text-align: center;
          margin-left: 10.7%;
          margin-right: 10.7%;
          transform: scale(1.06, 1);
        }

          #box1p1{ /*A beautifully handcrafted...*/
            font-family: 'Commissioner';
            position: absolute;
            top:118px;
            line-height: 170%;
            text-align: center;
            font-weight: bolder;
            margin-left:7.4%;
            margin-right:7.4%;            
            font-size: 14px;
            opacity: 30%;}

          #box1Btn1{/*Back this project*/
            position:relative;
            top: 32%;
            background-color: rgb(60, 180, 171);
            border: 0;
            width:66%;
            height: 19.8%;
            margin-left: 7.0%;
            border-radius: 30px;
            font-size: 14px;
            font-weight: bolder;
            color: white;
            letter-spacing: 0.2px;
          }




/* when hover is supported for the button*/
@media (hover: hover) {
  #box1Btn1:hover {
    color: white;
    background-color: rgb(76, 201, 193);
  }} 

          #icon-bookmark{
           position:absolute;
           width:16.9%;
           margin-left: 76%;
           top: 66.7%;
           justify-content:center;
           align-items: center;
          }

      .dollar:before{font-family:Commissioner /*Calibri*/; content:'$';}
      #box2{
        background-color: white;
        display: flex;
        flex-direction: column;
        /* justify-content:center; */
           align-items: center;
        margin-top: 7.0%;
        width:100%;
        height: 410px;
        border-radius: 8px;/* 6 */
        border:rgb(243, 243, 243) solid 1px;}
        #currentSum{
        font-family: 'Commissioner';
          margin-top:9.2%;
          font-weight:900;
          /* letter-spacing:-0px; */
        }
      #backedSum:before{font-family: Calibri; content: 'of $'; }
      #backedSum:after{font-family: Calibri; content: ' backed'; }
      #backedSum{
        /* font-family: 'Commissioner'; */
        font-weight:900;
        margin-top:3%;
        letter-spacing: -0.2px;
        opacity: 50%;
      }
      #lineDiv1{
        border-top: 1px solid black ;
        margin-top: 7% ;
        width: 25%;
        opacity: 50%;
      }
      .fontstyle{font-family: 'Commissioner'}
      #totalBacknum{
        margin-top: 7.4%;
        font-weight:900;
        font-size:31px ;
        letter-spacing: 1.2px;
      }
      #totalBacktxt{
        font-family: Commissioner;
        opacity: 50%;
        margin-top:3.5%;
        margin-left: -0.5%;
        /* letter-spacing: -0.3px; */
        font-weight:500;
        font-size: 14px;
      }
      
      #lineDiv2{
        border-top: 1px solid black ;
        margin-top: 7.6% ;
        width: 25%;
        opacity: 50%;
      }

      #daysLeftnum{
        margin-top: 7.0%;}
      #daysLefttxt{
        font-family: Commissioner;
        /* font-family: Calibri; */
        font-size: 14px;
        opacity: 50%;
        margin-top:3%;
        margin-left: -0.5%;
        /* letter-spacing: -0.8px; */
        font-weight:500;
      }

      #progressBar{
        background-color: rgb(244, 244, 244);
        margin-top: 10%;
        width: 87.1%;
        border-radius: 15px;
      }
      #progress{
        background-color: rgb(60, 180, 172);
        color: white;
        padding-top: 4.1%;
        text-align: right;
        /* font-size: 10px; */
        /* padding-top: 10px; */
        border-radius: 16px;
        width: 79%;
        margin-left: 0.3%;
        /* border: solid red 1px; */
      }


      #box3Container{
        font-family: Commissioner;
        background-color: white;
        /* border:red solid 1px; */
        border:rgb(243, 243, 243) solid 1px;
        border-radius: 8px; /*6*/
        margin-top: 6.9%;
        padding: 6.8%;
        padding-top: 13%;
        width: 100%;
        height: 90%;
        /* letter-spacing: -0.5px; */
      }
          #box3Conh4{font-size: 109%;margin-top: -0.9% ;letter-spacing: 0.3px;}              
          
          #box3ConBox1h,#box3ConBox2h,#box3ConBox3h{
            margin-top: 3.5%;margin-left: 4%;
            font-size: 14px;
            font-weight: 900;
             /* font-weight: 900; */
             /* transform:scale(0.999,1); */
            }



          #box3Conp1,#box3Conp2{
            margin-top: 9%; margin-right:1% ;
            font-size: 87.9%;font-weight:500; 
            line-height: 170.9%;opacity: 60%;
            letter-spacing: -0.04px;
          }
          #box3ConBox1p1,#box3ConBox2p1,#box3ConBox3p1{
            margin-top: 3%;
            margin-left: 3.9%;
            font-size: 14px;
            font-weight: 600;
            color: rgb(60, 180, 172);
          }
          
          #box3ConBox1p2,#box3ConBox2p2,#box3ConBox3p2{
            margin-top:10.5%;margin-left: 3.6%;
            margin-right: 1%;
            font-size: 89.0%;font-weight:600; 
            line-height: 170%;opacity: 60%;
            letter-spacing: -0.13px;
          }

          #box3ConBox1p3,#box3ConBox2p3,#box3ConBox3p3{
            margin-left: 3.5%;
            margin-top: 9%;
            font-size: 33px;
            font-weight: 900;
          }
          #box3ConBox1p3a,#box3ConBox2p3a,#box3ConBox3p3a{
            margin-top: -11%;
            margin-left: 27.5%;
            font-weight: 600;
            font-size: 90%;
          }
          #box3ConBox1Btn,#box3ConBox2Btn,#box3ConBox3Btn{
            background-color: rgb(60, 180, 171);
            border: 0;
            width:63%; /*66*/
            height: 14.3%;
            margin-top: 14%; /*14%*/
            margin-left: 3.5%;
            border-radius: 30px;
            font-size: 14px;
            font-weight: bolder;
            color: white;
            letter-spacing: 0.2px;
          }
/*When hover is supported...*/
@media (hover: hover){
  #box3ConBox1Btn:hover {color: white; background-color: rgb(76, 201, 193);}
  #box3ConBox2Btn:hover {color: white; background-color: rgb(76, 201, 193);}
    }

            /* #box3Conp2{margin-top:9%}  */
            /*overide above settings..*/

        #box3ConBox1{
          background-color: white;
          border:rgb(218, 218, 218) solid 2px;
          border-radius: 8px;
          margin-top: 12.5%;
          margin-right: 0.6%;
          padding: 5%;
          height:373px;          
        }


        #box3ConBox2{
          background-color: white;
          border:rgb(218, 218, 218) solid 2px;
          border-radius: 8px;
          margin-top: 9%;
          margin-right: 0.6%;
          padding: 5%;
          height:373.2px;
        }
        /* Override above for tweaking general params..*/
          #box3ConBox2p2{margin-right: 3%;}
          #box3ConBox2p3a{    margin-left: 23.0%;}
          

        #box3ConBox3{
          background-color: white;
          border:rgb(218, 218, 218) solid 2px;
          border-radius: 8px;
          margin-top: 9%;
          padding: 5%;
          height:373.2px;
          opacity: 26%;
        }
        /* Override above for tweaking general params..*/
        #box3ConBox3p3a{    margin-left: 16.0%;}
        #box3ConBox3Btn{
          background-color: rgba(50, 49, 49, 0.546);
        }
/* boxContainer contains all boxes below NavBar -:End */

      /*Modals Start*/
      .modalMask{/* The Modal MASK (background) similar to page-mask..*/
        display:none; /* flex/none -- Hidden by default */
        justify-content:center; /*Centers children width..*/
        /* align-items: center; */ /*Centers children height..*/
        position:absolute; /* Stay in place */
        z-index: 4; /* Sit on top */
        padding-top: 0; /* Location of the box */
        /* border-radius: 10px; */
        left: 0;
        top: -1vh;        /* -43vh */
        width: 100%; /* Full width */
        height: 100%; /* Full height */  /* Enable scroll if needed */
        min-height: 2950px;/*Full height to stop page tearing..*/ 
        /* overflow: auto;  */ /*No need to extra scroll bars..*/
        /* background: white; */
          /* Fallback color */
        background-color: rgb(0,0,0); 
        /* Black w/ opacity */
        background-color: rgba(0, 0, 0, 0.486);
        /* background-color: white; */
      }
          
        /* modalContainers */
        .modalContainers{ /*Back this project*/
          font-family: Commissioner;
          display:flex;
          flex-direction:column;
          position:relative;
          padding: 23px;
          border: 1px solid #888;
          border-radius: 7px;
          top:123px;
          width: 332px; /*91.5%*/
          height: 50%;
          z-index: 5;
          /* background-color: rgb(0,0,0);  */
          /* Black w/ opacity */
          /* background-color: rgba(0, 0, 0, 0.486); */
          background-color: rgb(240, 240, 240);
        }
        .modalContainers h3{
          font-size: 18.5px;
          margin-top: 8px;
          margin-left: 2px;
          font-weight: 900;
          letter-spacing: -0.1px;
        }
        
          /* The Close Button */
          .close {
            display:flex;
            position: absolute;
            margin-left: 268px;
            color: #aaaaaa;
            /* float: right; */
            /* text-align: right; */
            font-size: 33px;
            font-weight: bold;
            /* top: -10px; */
            margin-top: -2px;
          }
              .close:hover,
              .close:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
              }
        .modalContainers p{
          font-size: 14px;
          margin-top: 25px;
          margin-left: 2px;
          margin-bottom: -12.5px; /*bring the first box\container down a bit..*/
          font-weight: 500;
          line-height: 24px;
          }
          
        #mdl-Cont1{
          background-color: white;
          border:rgb(218, 218, 218) solid 2px;
          border-radius: 8px;
          margin-top: 12.5%;
          margin-right: 0.6%;
          padding: 5%;
          height:244px;

        }
        #mdl-Cont2,#mdl-Cont3,#mdl-Cont4{
          background-color: white;
          border:rgb(218, 218, 218) solid 2px;
          border-radius: 8px;
          margin-top: 8.2%;
          margin-right: 0.6%;
          padding: 5%;
          height:290px;
        }

 
        /*Style the Radio button..START*/
        input:where([type="radio"].btnStyler){
          /* -webkit-appearance : none; */
          appearance         : none;
          width              : 22px;
          height             : 22px;
          margin             : calc(0.75em - 11px) 0.25rem 0 0;
          vertical-align     : top;
          border             : 2px solid #ddd;
          border-radius      : 4px;
          background         : #fff no-repeat center center;
        }
        
        input[type="radio"].btnStyler{
          border-radius : 50%;
        }
        
        input:where([type="radio"].btnStyler):where(:active:not(:disabled), :focus){
          border-color : #696;
          outline      : none;
          /* accent-color:rgb(60, 180, 171); */
          background-color: rgb(60, 180, 171);

        }
        
        input:where([type="radio"].btnStyler):disabled{
          background : #eee;
        }
        
        input[type="checkbox"].btnStyler:checked{
          background-image : url('checkbox.svg');
        }
        
        input[type="radio"].btnStyler:checked{
          background-image : url('radio.svg');
        }
        /*Style the Radio button..END*/

        
          #mdl-Cont1Rbtn{
            display: flex;
            position: absolute;
            width: 25px;
            height: 25px;/*resize radio button..*/
            margin-left: -39px;
            /* accent-color:rgb(60, 180, 171);  */  /*NOTE: This is only achieved via the Label' for="mdl-Cont1Rbtn" ' .. */
          } 

          #mdl-Cont1h{ /*Note, This element also positions above #mdl-Cont1Rbtn  */
            display:flex;
            align-items: center; 
            margin-top: 20.5px;
            margin-left: 50px ;
            font-weight: 900;
            letter-spacing: 0.45px;
            /* margin-top: 10px; */
            /* position: absolute; */
            /* justify-content:center;   */
            /* Centers children width.. */
            /* Centers children height.. */
         }


        #mdl-Cont1p1{
          margin-top: 39px;
          margin-left: 10px;
          margin-right: 10px;
          letter-spacing: 0.05px;
        }
      
        /*remember to undo line 551!!*/
        #mdl-Cont2h{
          display: flex;
          position: relative;
          top: 18px;
          margin-left: 10px;
          
        }
        #mdl-Cont2Rbtn{
          width:  25px; /*resize radio button..*/
          height: 25px;/*resize radio button..*/
        }

          #Cont2hBl{
            display: flex;
            position: relative;
            /* align-items: center;
            justify-content:center;  */
            flex-direction: column;
            top: -38px;
            margin-left: 10px;
          }
          #Cont2hBl p{
            font-weight: 900;
          }
          #Cont2hBlp2{
            position: relative;
            top:-10px;
            color: rgb(64, 201, 187);
          }
          #mdl-Cont2p1{ /*You get an ergonomic stand..*/
            position: relative;
            top: -22px;
            margin-left: 10px;
            margin-right: 5px;
          }
          #mdl-Cont2ha{
            position: absolute;
            margin-top: 12px;
            margin-left:10px;
          }
          #mdl-Cont2p2{
            position: relative;
            top:-13px;
            margin-left:47px;
          }
          








    /*Modals Finish*/


#imgBckgrndDsk{display: none;}/* Hide the desktop image..*/

@media(min-width: 550px){ /*min-width - takes effect after,  375px for desktops*/
  #mobNavB{display:none;}
  /* .imgBckgrndMob{display:none;} */
    #imgBckgrndDsk{
        display:unset; /*redisplay the background-image..*/
        max-width: 100%;
        background-image: url("./images/image-hero-desktop.jpg");
      
}




}

#attribution { font-size: 11px; text-align: center; position: relative /*Was absolute before giving height to boxContainer..*/;/*z-index: -1;*/ bottom:-300px; width:100%; margin: auto;}
#attribution a { color: hsl(228, 45%, 44%); }

