

 /* Fonts.. */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');
 body {
   font-family: 'Poppins', sans-serif;
 }

 /*Reset all inherited values to 0.*/
*{box-sizing: border-box; margin:0;padding:0;}
/*View Width in pixels on the page..*/
    #resizeInnerW{/*disable after finished..*/
    display:flex; /* none\inherit */
    justify-content: center;
    position:fixed;
    top:0; 
    z-index: 100; 
    color: rgb(239, 6, 6);
        }
   

 
    body {
      display:flex;
      position: relative;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 785px;
      background: rgb(240, 240, 240);
      /* border:black 1px solid; */
    }

    #pageMain{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:375px;
    }


#Cnt1{
    display: flex;
    position:relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top:-57px;
    width: 92%;/**/
    height: 495px; 
    margin-left: -0.5px;
    background: white;
    border-radius: 25px;
    border-bottom-right-radius: 100px;
}
#Cnt1a{
    display: flex;
    position: relative;
    justify-content: center;
    top: -107.5px; 
    height: 100px;
    width: 336px;
}
    #Cnt1aDay,#Cnt1aMonth,#Cnt1aYear{
        display: flex;
        position: relative;
        justify-content: center;
        width: 100%;
    }

    #DayH,#MonthH,#YearH{
        display: flex;
        position: absolute;
        color: rgb(123, 123, 123);
        margin-top: -3.5px;
        margin-left: -36px;
        font-size: 12.3px;
        font-weight: 900;
        letter-spacing: 2.5px;
    }


    #MonthH{
        margin-left: -26.0px;
        letter-spacing: 2.9px;
    }
    #YearH{
        margin-left: -60px;
        letter-spacing: 2.9px;
    }




        #DayBox,#MonthBox,#YearBox{
            display: flex;
            position:relative;
            align-items: center;
            top: 18px;
            width:87.5px;
            height:54px;
            margin-left: 17px;
            border-radius: 8.6px;
            border: 1.5px solid rgb(219, 219, 219);
        }
        #MonthBox,#YearBox{
            margin-left: -1px;
        }
        #YearBox{
            margin-left: -17px;
        }

        #DayBoxP,#MonthBoxP,#YearBoxP{
            margin-left: 15px;
            font-size: 19px;
            font-weight: 900;
        }
        #MonthBoxP{margin-left: 18%;}
        #YearBoxP{
        margin-left: 17%;
        letter-spacing: 1.2px;}


        #lineD{
            display: flex;
            position: relative;
            border-top: rgb(237, 237, 237) 2px solid;
            height: 2px;
            width: 294.5px;
            top:-72px;
        }

        #iconArr{
            display:flex;
            position: absolute;
            background-color: rgb(132, 77, 255);
            background-size:cover;
            background-repeat: no-repeat;
            background-position: center;
            width:55px;
            height:55px; 
            top:166px;
            border-radius: 50%;
            transform: scale(1.0, 0.49);
            
        }
        #iconArrCropped{
            display:flex;
            position: absolute;
            height: 65px;
            width: 65px;
            top:163px;
            background: rgba(133, 77, 255, 0.0);
            border-radius: 50%;
            border:solid 21px rgb(132, 77, 255);
            border-top:solid 20px rgb(132, 77, 255);
        }

#Cnt1b{
    display: flex;
    position: relative;
    flex-direction: column;
    height: 60px;
    width: 90%;
}

#Cnt1bYrs,#Cnt1bMonths,#Cnt1bDays{
    display: flex;
    position: relative;
    /* border: rgb(238, 129, 40) solid 1px; */
    top:3.0px;
    margin-top: -23.0px;    
}

#Cnt1bYrsN,#Cnt1bMntsN,#Cnt1bDysN{
        display: flex;
        position: relative;
        margin-left: 8px;
        font-style: italic;
        font-weight: 900;
        font-size: 56px;
        letter-spacing: -2.1px;
        color: rgb(132, 77, 255);
    }

    #Cnt1bYrsL,#Cnt1bMntsL,#Cnt1bDysL{
        display: flex;
        position: relative;
        margin-left: 10.5px;
        font-style: italic;
        font-weight: 900;
        font-size: 56px;
        letter-spacing: -1.1px;
    }






@media (min-width:575px){/*375px*/
#resizeInnerW{color: blue;}

body{
    height: 960px;
}
#pageMain{
    width:1440px;
}
#Cnt1{
    width: 840px;
    height: 655px; 
    border: red solid 1px;
    border-bottom-right-radius:200px;
}
#Cnt1a{
    display: flex;
    position: relative;
    border: rgb(0, 42, 255) solid 1px;
    margin-right: 182px;
    width: 546px;
    top: -185px ;
}





}



#attribution {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  font-size: 10px;display: flex;position: relative ; text-align: center; justify-content: center; width:100%;}
#attribution a { color: hsl(228, 45%, 44%); }

