

/* 576 or below is considered a mobile device. */

/*Reset all inherited values to 0.*/
*{box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{background-color: rgb(236, 242, 248);
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'Karla', sans-serif;
    font-size: 14px;    

}
.InvH{ /*The invisible header to keep frontendMentor happy :)*/
    color:rgb(236, 242, 248);
}

/* .Container{
    } */

.TCards{
    margin-bottom: 20px;    /*Put a border round each card\testimony.*/
    padding: 30px;          /*Space between the text and edge of the border for card\testimony */
    border-radius: 7px;     /*make the corners rounded*/
    box-shadow: 18px 90px 29px 1px rgba(77, 100, 113, 0.121); /* https://cssgenerator.org/box-shadow-css-generator.html */
} 
    
.TCards h3{font-size: 18px;}

.TCardHeader{
    display: flex;          /*display:flex will put the image and both p tags on the same line..*/
    align-items: center;    /*center the text..*/
    margin-bottom: 16px;
}
.TCardHeader img{
    border-radius: 50%;     /*Make the image circular..*/
    width:30px;
    margin-right: 10px;
    border: 2px solid rgba(242, 234, 248, 0.3);
}
.TCardHtxtF{
    opacity: 50%;
}
.opicityP{
    opacity: 70%;
    font-size: 13px;
    transform: scale(1, 1.0);

    line-height: 20px;
}
.TCards h3{
    
    margin-bottom: 20px;
}

.Quotation_Marks{
    position:absolute;
    right:83px;
    top:0px;
    opacity: 70%;
}

#TCard1{
    background-color: rgb(117, 65, 200);
    color:white;
    position:relative; /*position the quotation marks relative to Tcard1..*/

}


    /* #TCard1 .opicityP{
        font-size: 12px;
    } */

#TCard2{
    background-color: rgb(73,85,107);
    color:white}

#TCard3,#TCard5{background-color: rgb(255,255,255);}

.pName{
    font-weight: 700;
}

#TCard4{
    background-color: rgb(24,32,45);
    color:white;}
#TCard4 img{
    border: 3px solid rgba(137, 5, 237, 0.3);}

@media(min-width: 576px){ 
    html, body {
        height: 100%;
        width: 100%;
      }
        body {
            display:flex;
            flex-direction: column; 
            justify-content :center;
            align-items: stretch; 
            max-width: 1440px;
            max-height: 900px;
            height:100vh; 
            margin: 10% auto;
        }
            
     /* flex-direction: column; */
        .Container {
         display:flex;
         justify-content :center;
          align-items: stretch; 
         max-width: 1440px;
         max-height: 900px;
         height:100vh; 
         margin: 13% auto;
    }
        

        .TCards {margin: 15px;}

        .CLeft{
            flex-direction: column;
            flex-basis: 69% ;}

        .CTop{
            display: flex;
            flex-direction: row;}
        #TCard1{flex-basis: 68%;}
        #TCard2{flex-basis: 32%;}

        .CBottom{
            display: flex;
            flex-direction: row;}
        #TCard3{flex-basis: 35%;}
        #TCard4{flex-basis: 75%;}

        .CsideR{flex-basis: 22.5%;}

        

        .attribution {flex-shrink:0; margin-bottom: -1100px; margin-left: 40%; position: absolute;}
        /*margin-bottom: -850px; position: absolute; */
    }

.attribution { font-size: 11px; text-align:center;}
.attribution a { color: hsl(228, 45%, 44%); }


            /* .attribution {flex-shrink: 0; margin-bottom: 0px; }*/
            
        /*https://dev.to/domysee/keeping-the-footer-at-the-bottom-with-css-flexbox-5h5f*/
