/* * {box-sizing:border-box} */



#resizeInnerW{/*disable before release...*/
    display:flex; /* none\flex */
    position:relative;
    justify-content:center;
    top:0px; 
    z-index:100;
    color:rgb(63, 43, 148);
  }



  body{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
    width: 100vw;
    background: #c8cbd3;
  }

  .ctr0{
    display: flex; 
    position: relative;
    /* align-content: center; */
    max-width: 700px;
    border: solid green 2px;
    max-width: 700vw;
}
    /* forward & Back buttons */
    .Back, .forward {
      display: flex; 
      position:relative;
      /* top:-40px ; */
      /* width: 0; */
      /* left:auto; */
      /* margin-left: 30px; */
      /* margin-top: -23px; */ 
      padding: 8px;
      color: rgb(20, 93, 145);
      font-weight: bold;
      font-size: 19px;
      transition: 0.4s ease;
      border-radius: 5px 5px 5px 5px;
      user-select: auto;
      cursor: pointer;
    }

    /* Place the "forward button" to the right */
    .forward {
      right: 0;
    
    }

    /*when the user hovers,add a black background with some little opacity */
    .Back:hover, .forward:hover {
      background-color: rgba(134, 133, 133, 0.9);
    }

    /* The circles or bullets and indicators */
    .dots {
     display: inline-block;
     flex-direction: row; 
     position: relative;
      /* margin-left: -60px; */
      /* margin: auto; */
      left:20px;
      cursor: pointer;
      top:30%;
      height: 16px;
      width: 16px; 
      background-color: rgb(86, 116, 116);
      border-radius: 50%;
      
      transition: background-color 0.5s ease;
      
    }
    
    .enable, .dots:hover {
      background-color: #7e9eba;
    }
    
    /* Faint animation */
    .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 0.8s;
      animation-name: fade;
      animation-duration: 0.8s;
    }

 


/* Slideshow container */
.ctr1{
    display: flex;
    flex-direction: column;
    position: relative;
    align-content: center;
    /* max-width: 700px; */
    /* border: 1px solid red; */
}

    .slideshow-container {
        display: flex;
        /* flex-direction: column; */
        position:relative;
        top:55px;
        /* Keep pics centered */
          margin-left: auto;
          margin-right: auto;
        /* max-width: 700px; */
        width: auto;
          max-width: 80vw;
          max-height: 108vh;
          border: green solid;
    }

    /* dayBox  day 1,day2 etc.. */
    .dayBox {
        display: flex;
        position: relative;
        color: #89abe8;
        font-size: 14px;
        padding: 10px ;
        position: absolute;
        border-radius: 10px;
        top:1%;
        background: rgb(14, 20, 20, 0.5);
        z-index: 1;
      }

    /* Make the images invisible by default */
    .Containers {
      display: none;
    }
    
    /* Caption Info */
    .Info {
        color: #000000;
        font-size: 16px;
        /* padding: 10px 14px; */
        position: absolute;
        top: -30px;
        width: 100%;
        text-align: center;
      }

      .mediaC1{
        display: flex;
        /* flex-direction: column; */
        position:relative;
        /* Keep pics centered */
        top: 0%;
          margin-left: auto;
          margin-right: auto;
          width: auto;
          max-width: 80vw;
          max-height: 80vh;
          border: red solid;
        /* z-index: -1; */
      }

        .mediaC2{
        display: flex;
        /* flex-direction: column; */
        position:relative;
        /* Keep pics centered */
        top: 55px;
          margin-left: auto;
          margin-right: auto;
          width: auto;
        z-index: 2;
        border: greenyellow solid;
      }


@-webkit-keyframes fade {
  from {opacity: 0.1}
  to {opacity: 2}
}

@keyframes fade {
  from {opacity: 0.1}
  to {opacity: 2}
}