/* Import our fonts.. fonts.google.com */
/* @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700;800&display=swap');
/* font-family: 'Rubik', sans-serif; */

/*Reset all inherited values to 0.*/
*{box-sizing:border-box; margin:0;padding:0;}



body{
    font-family:'Rubik';
    display:flex;
    position:relative;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:828px;
    background:rgb(32, 38, 50);
}

#resizeInnerW{/*disable after finished..*/
    display:flex; /* none\flex */
    position:absolute;
    justify-content:center;
    top:0px; 
    z-index:100;
    color:rgb(239, 6, 6);
}

#mainPage{
    display:flex;
    position:relative;
    /* flex-direction:column; */
    justify-content:center;
    /* align-items:center;   */
    width:100%;
    height: 100%;
    /* margin-top: 30px; */
 /* border: red 1px solid; */
}
#backGrndPic{
    display:flex;
    position:relative;
    width:375px;
    height:100vmin;
    background:no-repeat url(./images/pattern-bg-mobile.png);
    background-size:contain;
    /* border: red 1px solid; */
    z-index:-1;
}

#cntr1{/*holds the search bar and results..  */
    display:flex;
    position: absolute;
    flex-direction:column;
    /* justify-content:center; */
    align-items:center;
    text-align: center;
    top:25px;
    width: 100%;
    height: 420px;
    /* border: red 1px solid; */
    
}

#ipAdrTitle{
    font-size: 26px;
    font-weight: 500;
    transform: scale(0.98, 1.0); 
    color: white;
    margin-left: -2px;
}
#srchBarCnt1{
    display:flex;
    position: relative;
    justify-content:center;
    /* align-items: center; */
    top:29px;
    width: 100%;
    /* border:lightblue solid 1px; */
    
}
#srchBarFld,#srchInpTxt{
    display:flex;
    position: relative;
    background: white;
    width: 327px;
    height: 57px;
    margin-left: -2px;
    border-radius: 14px;
    z-index: 1;
}
#srchBarFldBtn,#btnArrHvr{
    display:flex;
    position: absolute;
    width: 58px;
    height: 100%;
    right:0px;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    border: none;
    /* background: black; */
    background: linear-gradient(#000000,#006ca6);
    /* box-shadow: 0px 2px 10px rgb(35, 79, 114); */
    /* opacity: 20%; */
    z-index: 0;
}
/* Invisible field covering button for smooth hover effect... */
#btnArrHvr{
    background:rgba(161, 161, 247, 0);
    z-index: 2;
}

    
@media (hover: hover) and (pointer: fine){
    #srchInpTxt:hover,#btnArrHvr:hover{
        /* opacity: 30%; */
        /* border: 3px solid rgb(226,57,142); */
        transition:all 0s;
        box-shadow: inset 0px 0px 5px rgb(40, 1, 58);
        box-shadow: 0px 2px 10px rgb(35, 79, 114);
        cursor: pointer;
}
}

#iconArrowBtn{
    display:flex;
    position: absolute;
    right:22px;
    top:21px;
    height: 14px;
    cursor: pointer;
    /* background: rgba(40, 39, 39, 0.927); */
    
        background-image: url(../ip-address-tracker-master/images/icon-arrow.svg);
      
      
}
#srchInpTxt{
    font-family:'Rubik';
    text-align:center;
    top:4.5px;
    height:48px;
    width:330px;
    margin-left:4px;
    margin-right:60px;
    font-weight:500;
    font-size:16px;
    text-overflow:ellipsis;
    transform:scale(1.05, 1.2);
    z-index:-1;
    color:rgb(116,116,116);
    border:none;
    outline:none; 
    border-top-right-radius:0px;
    border-bottom-right-radius:0px;
}

#srchBarResCnt1{
    display:flex;
    position: relative;
    flex-direction:column;
    /* justify-content:center; */
    /* align-items:center;   */
    top:53px;
    width: 327px;
    height: 295px;
    background: white;
    margin-left: -2px;
    /* border:greenyellow 1px solid; */
    border-radius: 15px;
}

#sBRCiPaDDLbl,#sBRCLocLbl,#sBRCtimeZLbl,#sBRCiSPLbl{
    position: relative;
    font-weight:800;
    font-size: 9.9px;
    letter-spacing: 01.1px;
    margin-top:25px;
    color: rgb(116,116,116);
}
#sBRCLocLbl,#sBRCtimeZLbl,#sBRCiSPLbl{margin-top:34px;}
#sBRCtimeZLbl{margin-top:32px;}
#sBRCLocFlag{height: 15px;}
#sBRCiPaDD,#sBRCLoc,#sBRCtimeZ,#sBRCiSP{
    position: relative;
    font-weight:600;
    font-size: 18.6px;
    top:8px;
    
}
#sBRCtimeZ{transform:scale(0.98, 1.0);}



#cntr2{
    display:flex;
    position:absolute;
        /* justify-content:center; */
    /* align-items:center;   */
    width: 375px;
    height: 543px;
    top:300px;
    background: grey;
    z-index: -1;
}





@media (min-width:700px){/*700px or more required for Desktops...*/

    


}








#attribution { font-style: italic; font-size: 14px; text-align: center;color: hsl(228, 45%, 44%);}
#attribution a { color: hsl(253, 37%, 50%); }
